@model ViewViewModelExample.ViewModels.HomeGetGameVM

@{
    for(int getal=1;getal<=10;getal++ )
    {
        @:getal is nu @getal
    }
}

<h1>@ViewBag.PageTitle</h1>
<ul>
    <li>Id: @Model.GameId</li>
    <li>Title: @Model.GameTitle</li>
    <li>Publisher: @Model.GamePublisher</li>
</ul>



