@model ViewViewModelExample.ViewModels.HomeGetGameVM
@{
    ViewData["Title"] = "Game Info";
}

<h3>GameId: @Model.GameId</h3>
<ul>
    <li>@Model.GameTitle</li>
    <li>@Model.GamePublisher</li>
</ul>
<a asp-controller="Home" asp-action="GetGames" class="btn btn-outline-primary">
    Back
</a>




