@model ViewViewModelExample.ViewModels.HomeGetGamesVM

@{
    for(int getal=1;getal<=10;getal++ )
    {
        @:getal is nu @getal
    }
}

<h1>@ViewBag.PageTitle</h1>
<ul>
    @foreach(var game in Model.games)
    {
        if(game.GameTitle.Contains("F"))
        {
            <li>@game.GameTitle</li>
        }
    }
</ul>



