@{
    ViewData["Title"] = "Home Page";
    List<int> getallen = new List<int>();
    for (int i = 0; i < 10; i++)
    {
        getallen.Add(i);
    }
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <H3>Getallen</H3>
        @{ 
            int theId = 7;
            string theFilterText = "example two b"; 
            } 
        <a asp-controller="TagHelpers" asp-action="MethodWithParameters" 
           asp-route-id=@(theId) 
           asp-route-filterText=@theFilterText class="btn btn-success">Go to MethodWithParameters</a>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
