@{
    ViewData["Title"] = "Game Review";
    
}
    <div class="text-lg-left">
        <h3 class="display-5">Welcome to our awesome game review site</h3>
        <a 
           asp-controller="Home" 
           asp-action="GetGames" 
           class="btn btn-outline-primary">
            Bekijk alle games
        </a>
    </div>
